body {
    color: #f1f2f3;
    background-color: #1d8e9f;
    font-family: sans-serif;
}
#title {
    text-align: center;
}
#description {
    text-align: center;
    margin: 25px 0;
}

form {
    margin: 0 auto;
    width: 50%;
    background-color: #2a3b4c88;
    padding: 50px;
    border-radius: 5px;
}
label, input, select, textarea {
    display: block;
    font-size: 1.2rem;
}

input[type="radio"], input[type="checkbox"] {
    display: inline;
    width: unset;
    height: unset;
    margin: unset;
    transform: scale(1.5);
    margin-right: 10px;
}

.checkbox label , .radio label{
    margin: 10px 0;
}
 
.container {
 margin-bottom: 30px;
}

input, select {
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0 30px 0;
    border-radius: 5px;
    padding: 10px;
}



textarea {
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    background-color: #f1f1f1;
}

#submit {
    background-color: seagreen;
    border: none;
    height: 3em;
    color: #f3f4f5;
}